*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

html{

    background-color: #e4dfda;
    color: #555;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.747)),
    url('images/pexels-photo-457713.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    max-width: 100%;
}

#text-area{

    position: absolute;
    width: auto;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

#intro{

    color: #efc88b;

}

#photo{

    background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.295)), url('images/REtouch_wolf.jpg');
    box-sizing: border-box;
    height: 1000px;
    width: 1000px;
    left: 50%;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
    transform: translate(-10%,-50%);
    max-width: 80%;

}


#hobby{
    color: #e4dfda;
    padding-top: 10%;
    font-weight: 300;
    line-height: 150%;

}

span:hover{

     animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

}

@keyframes example {
    0% {
        background-color: red;
    
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
       
    }

    75% {
        background-color: green;
       
    }

    100% {
        background-color: red;
        
    }
}


#about-me{

    /* border: #555 solid 3px; */
    height: 100vh;
    margin: auto;
    margin-top: 10%;
    padding: 0;

}

.row{
    /* border: rgb(241, 63, 63) solid 3px; */
    /* padding: 0; */
    margin-top: 5%;
}

.col-sm{
    /* border: rgb(27, 145, 23) solid 3px; */
    /* padding: 0; */
}

#row-2{
    height:70%;
}

#col-1{
    padding: 0;
}

#img1{
    background-image: url('images/about_1.jpg');
    height: 200px;
    width: 200px;
    background-size: cover;
    margin-right: 15%;

}
#img2{
    background-image: url('images/about_2.jpg');
    height: 200px;
    width: 200px;
    background-size: cover;

}
#img3{
    background-image: url('images/about_3.jpg');
    height: 200px;
    width: 200px;
    background-size: cover;
    margin-right: 15%;

}

.about-text{
    text-align: justify;
}

.fonts{
    margin-top: 30%;
}

.col-md-3{
     margin: auto;
    }

.work{
    /* border: #555 solid 3px; */
    height: 100vh;
    margin: 0;
}
#workid{
    padding: 0;
    margin-top: 5%;
}
#row-1{
    /* border: #555 solid 3px; */
    margin: 0;
    padding: 0;
}

#col-wrk{
     /* border: #555 solid 3px; */
     padding: 0;
     margin-top: 3%;
 }

 #foot-row{
     /* border: #555 solid 3px; */
 }

 #foot-col-1{
     /* border: #555 solid 3px; */
 }

 #foot-row{
     background-color: #7c7c7c;
 }

 .footer-font{
     color: #e4dfda;
 }

 .footer-form{
     /* border: #555 solid 3px; */
     margin-right: 0;
 }

 #footer-form{
     /* border: #555 solid 3px; */
     background-color: #7c7c7c;
 }

 @media screen and (max-width: 768px) {
     header {
         display: none;
     }
     #photo {
         width: 100%;
         height: 100%;
     }
 }